.video-widget-frame {
    position: relative;
    width: 259px;
    z-index: 700;
}
.video-widget {
    left: 6px;
    position: absolute;
    top: 30px;
    width: 244px;
    z-index: 600;
}

.vlb-shortcode-container {
    position:relative;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.vlb-shortcode-container .video-widget {
    left:6px;
    top:6px;
}